.header {
    grid-area: h;
    background-color: green;
    width: 100%;
    border-radius: 5px
}

.header img {
    width: 50px;
    margin: 5px;
}

.loginBlock {
    float: right;

}

.loginBlock a {
    color: white;
}