.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.nav div{
    background-color: cornflowerblue;
}

.item a{
    color: blue;
    text-decoration: none;
}

.nav a:hover {
    color: white;
}

.nav a:active {
    color: burlywood;
}

ul li {
    list-style-type: georgian;
}