.content {
    width: 1200px;
    height: 960px;
    grid-area: c;
    background-color: cornflowerblue;
}

.content img {
    width: 1180px;
    height: 200px;
    margin: 10px;
}

.item {
    color: blue;
}

